<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
          <span class="pull-right">
              <button class="btn btn-success" (click)="onNewItem()">New Item</button>
          </span>
          <p></p>
          <span class="panel-title">Shopping List</span>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let ingredient of (shoppingListState$ | async).ingredients" [routerLink]="[ingredient.id]">
            <span class="badge">{{ ingredient.amount }}</span>
            {{ ingredient.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
