<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <div class="form-group" [ngSwitch]="(authState$ | async).responseStatus">
          <span class="text-warning" *ngSwitchCase="null"></span>
          <span class="text-warning" *ngSwitchCase="200"></span>
          <span class="text-warning" *ngSwitchCase="201"></span>
          <span class="text-warning" *ngSwitchCase="0">Server not responding. Please try agains</span>
          <span class="text-warning" *ngSwitchCase="401">Invalid username or password</span>
          <span class="text-warning" *ngSwitchDefault>Error returned when connecting with the server</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
    </form>
  </div>
</div>

